body{
    font-family: 'Exo 2', sans-serif;
}

.bg-grad{
    background: linear-gradient(to top, #AC54D9, #AC54D9, #2e80ff )!important;
    z-index: -4;
}
.text-service {
    text-align: center;
	padding-top: 8%;
	color: #fff !important;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.8%;
}
.span_3_of_5 {
	width: 59.6%;
}
.span_2_of_5 {
	width: 39.4%;
}
.span_1_of_5 {
	width: 19.2%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}
#service{
	text-align: center;
}
.service_name{
	padding-top: 18px !important;
}