{{ partial "header.html" . }}

{{ if .Site.Data.service.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<body>
    {{ partial "nav.html" .}}
    
        <div class="container-fluid py-0">
                {{ with .Site.Data.service.image }}
                <img id="banner-service" src="{{ . | absURL }}" alt="service">{{ end }}
        </div>


        <section class="packages-level">
            <div class="container-fluid">
                <div class="row mx-0">
                    
                            {{ range $index, $element := .Site.Data.service.members }}

                            <div class="col-md col-sm pad-bot">

                                <div class="card">
                                <div class="card-body">
                                
                                <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay=".3s">
                                    {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
                                    {{ with .name }}<h5>{{ . }}</h5>{{ end }}
                                    {{ with .description }}<p>{{ . | safeHTML}}</p>{{ end }}
                                </div>
                                </div>
                                </div>
                            </div>
                            {{ end }}
                        
                </div>
            </div>
        </section>


        <section class="srvc-detail">

            <div class="container-fluid">

                <div class="row py-5">

                        <div class="col-md-6 pad-bot">

                            
                            <div class="jumbotron">
                                {{ range $index, $element:= .Site.Data.service.content1 }}
                                {{ $delay := mul $index 300 }}
                                  {{ with .name }}
                                  <h3 class="display-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">{{ . }}</h3>
                                  {{ end }}

                                  {{ with .description }}
                                  <p class="lead">{{ . }}</p>
                                  <hr class="my-4">
                                  {{ end }}

                                  

                                  {{ with .subdes }}<p class="content_sub">{{ .| safeHTML }}</p>{{ end }} 
                                 
                                  {{ end }}
                            </div>
                             

                        </div>

                        <div class="col-md-6 pad-bot">

                            <div class="jumbotron">
                                {{ range $index, $element:= .Site.Data.service.content2 }}
                                {{ $delay := mul $index 300 }}
                                  {{ with .name }}
                                  <h3 class="display-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">{{ . }}</h3>
                                  {{ end }}

                                  {{ with .description }}
                                  <p class="lead">{{ . }}</p>
                                  <hr class="my-4">
                                  {{ end }}

                                  

                                  {{ with .subdes }}<p class="content_sub">{{ .| safeHTML }}</p>{{ end }} 
                                 
                                  {{ end }}
                            </div>

                        </div>

                </div>

            </div>


        </section>
       
        
    
   {{ partial "footer.html"}}
</body>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}
