.navbar{
    background-color: $color-primary;
    font-family: 'Exo 2', sans-serif;

    .nav-item {
        margin: 0 1rem;
        text-transform: uppercase;
    }

    .navbar-brand {        
        img {
            width: 235px;
            margin-left: 20px;
        }
    }
}
.nav-link{
    color: #fff !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}
.navbar-nav{
    text-align: center;
}
.btn-Qoutes{
    background-color: #fff !important;
    padding-top: 7px;
}