.home-left{
  padding:0 !important;
  height:100vh;
  position: relative;  
  height: 88vh;
  background-image: linear-gradient(to top, #6a11cb 0%, #2e80ff 100%);
}

.tombol{
  height: 10vh;
  margin: 0px;
  margin-top:21px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  width: 100%;
}