{{ partial "header.html" . }}
<body>
    {{ partial "nav.html" .}}
    <div class="container-fluid">
        {{ with .Site.Data.client.image }}
        <img id="banner-our" src="{{ . | absURL }}" alt="service">{{ end }}
    </div>   
    <section id="clients">
        <div class="container-fluid">
            {{ with .Site.Data.client.subtitle }}<h1 class="title text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h1>{{ end }}
            <div class="section group">
                    {{ range $index, $element:= .Site.Data.client.clientsall }}
                    <div class="bg-light col span_1_of_3">
                    {{ $delay := mul $index 300 }}
                    <div class="our-clientsall wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                        <div class="our-img">
                            {{ with .url }}<a href="{{ .}}">{{ end }}{{ with .image }}<img src="{{ . | absURL }}" class="team-pic" alt="our-clientsall" style="height:20vh">{{ end }}</a>
                                                            
                                {{ with .name }}<p class="our_name">{{ . }}</p>{{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
    </section>
    {{partial "footer.html" .}}
</body>


