{{ partial "header.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<body>
    {{ partial "nav" .}}
    <div class="container-fluid">
        {{ with .Site.Data.team.image }}
        <img id="banner-our" src="{{ . | absURL }}" alt="service">{{ end }}
    </div>
    <div class="jumbotron">
        <div class="col-lg-12">
            {{ with .Site.Data.team.title }}<h2 class="subtitle">{{ . }}</h2>{{ end }}
            {{ with .Site.Data.team.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
        </div> 
    </div>
    {{ partial "team.html" . }}

    {{ partial "footer.html" .}}
  
</body>
{{ "<!--  Company Feature Section End -->" | safeHTML }}
