
{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container-fluid">
        <div class="row content-justify-between">
            <div class="col-md-12 text-center">
                <p class="copyright">COPYRIGHT ©
                    <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> TAKSU TEKNOLOGI.
                </p>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}