{{ if .Site.Data.team.enable }}
{{ "<!-- Team Section Start -->" | safeHTML }}
<section id="team">
    <div class="container-fluid py-0">
        <div class="col-md-12">
            <div class="row py-5">
                {{ range $index, $element:= .Site.Data.team.members }}
                    <div class="col-md-3 col-sm-6 py-0">
                        {{ $delay := mul $index 300 }}
                        <div class="d-flex flex-wrap wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                            {{ with .image }}
                            <div class="card text-center m-2">
                                <img src="{{ . | absURL }}" class="card-img-top" alt="team">
                            {{ end }}
                            {{ with .name }}<h3 class="team_name">{{ . }}</h3>{{ end }}
                            {{ with .designation }}<p class="team_designation">{{ . }}</p>{{ end }}
                            {{ with .description }}<p class="team_text">{{ . }}</p>{{ end }}
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- Team Section End -->" | safeHTML }}
{{ end }}